.selector-for-some-widget {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}
h4, p {
    display: inline;
}

body {
    background-color: tan;
}
table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}
.socials {
    color: black;
}